<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/header/header :: header(~{::title})">
    <title>회원관리</title>
</head>
<body>
    <div th:replace="/admin/fragment/adminPageSidebar :: sidebar('회원관리')"></div>

    <main class="w-auto justify-content-center">
        <h1>회원관리</h1>
        <!--검색 조건 input-->
        <form action="" th:object="${condition}" method="get">
            <div class="input-group">
                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#searchCollapse">
                    <i class="bi bi-caret-down-fill"></i>
                </button>
                <select class="form-select-sm" th:field="*{role}">
                    <option class="form-select" value="User">유저</option>
                    <option class="form-select" value="Admin">관리자</option>
                </select>
                <select th:field="*{keywordType}" class="form-select-sm">
                    <option class="form-select" value="username">이름</option>
                    <option value="form-select">아이디</option>
                </select>
                <input class="form-control" th:field="*{keyword}" type="search" placeholder="검색어를 입력해주세요">
                <button class="btn btn-secondary bi-search" type="submit"></button>
            </div>

            <!--상세 조회 collapse-->
            <div class="collapse" id="searchCollapse">
                <!--권한,start~end 날짜, 정렬 기준, 정렬 방향 -->
                <div class="input-group">
                    <span class="input-group-text">가입날짜</span>
                    <input class="form-control" type="date" th:field="*{startDate}">
                    <span class="input-group-text">~</span>
                    <input class="form-control" type="date" th:field="*{endDate}">
                </div>
                <div class="input-group">
                    <span class="input-group-text">생일</span>
                    <input class="form-control" type="date" th:field="*{birthStartDate}">
                    <span class="input-group-text">~</span>
                    <input class="form-control" type="date" th:field="*{birthEndDate}">
                </div>
                <div class="input-group">
                    <select class="form-select" th:field="*{sort}">
                        <option class="form-select" value="createTime">생성날짜순</option>
                        <option class="form-select" value="birth">나이순</option>
                    </select>
                    <select class="form-select" th:field="*{direction}">
                        <option class="form-select" value="ASC">오름차순</option>
                        <option class="form-select" value="DESC">내림차순</option>
                    </select>
                </div>
            </div>
        </form>

        <!--게시글 출력-->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        회원이름
                    </th>
                    <th>
                        생일
                    </th>
                    <th>
                        휴대폰번호
                    </th>
                    <th>
                        아이디
                    </th>
                    <th>
                        가입날짜
                    </th>
                    <th>
                        권한
                    </th>
                </tr>
            </thead>
            <tbody>
               <tr th:each="member : ${members}">
                   <td th:text="${member.memberName}"></td>
                   <td th:text="${member.birth}"></td>
                   <td th:text="${member.phoneNumber}"></td>
                   <td th:text="${member.loginId}"></td>
                   <td th:text="${member.createTime}"></td>
                   <td th:text="${member.authorizes}"></td>
               </tr>
            </tbody>
        </table>
        <!--페이징처리-->
        <nav th:if="${members.getTotalPages() > 0}">
            <ul class="pagination pagination-sm justify-content-center">
                <li class="page-item" th:classappend="${members.isFirst()} ? 'disabled'">
                    <a th:replace="/fragment/paging :: adminMemberPaging(1,'<<')">처음</a>
                </li>
                <li class="page-item" th:classappend="${members.isFirst()} ? 'disabled'">
                    <a th:replace="/fragment/paging :: adminMemberPaging(${condition.page - 1},'<')">이전</a>
                </li>
                <li class="page-item" th:each="pageNum : ${#numbers.sequence(startPage,endPage)}"
                    th:classappend="${pageNum == condition.page} ? 'disabled'">
                    <a th:replace="/fragment/paging :: adminMemberPaging(${pageNum},${pageNum})"></a>
                </li>
                <li class="page-item" th:classappend="${members.isLast()} ? 'disabled'">
                    <a th:replace="/fragment/paging :: adminMemberPaging(${condition.page + 1},'>')">다음</a>
                </li>
                <li class="page-item" th:classappend="${members.isLast()} ? 'disabled'">
                    <a th:replace="/fragment/paging :: adminMemberPaging(${members.getTotalPages()},'>>')"></a>
                </li>
            </ul>
        </nav>

    </main>
</body>
</html>