spring:
  profiles:
    active: local
  datasource:
    url: jdbc:h2:tcp://localhost/~/project1
    username: sa
    password:
    driver-class-name: org.h2.Driver


  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
#        format_sql: true
#        show_sql: true

server:
  port: 8080



